#mycanvas {
   box-sizing: content-box;
   background-image: url("./resources/grass.jpg");
   border : 10px solid #4a3933; 
   /* border-radius: 15px;  */
   transition: all;
   transition-duration: 1s; 
}
